{{#each this}}
<div class="photo-card">
  <a class="gallery__link" href="{{largeImageURL}}">
    <img class="photo-card__image" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" height="200" /> 
  </a>
  
  <div class="info">
    <p class="info-item">
      <b>Likes</b>
      <span>{{likes}}</span>
    </p>
    <p class="info-item">
      <b>Views</b>
      <span>{{views}}</span>
    </p>
    <p class="info-item">
      <b>Comments</b>
      <span>{{comments}}</span>
    </p>
    <p class="info-item">
      <b>Downloads</b>
      <span>{{downloads}}</span>
    </p>
  </div>
</div>
{{/each}}